[submodule "reaction-admin"]
	path = reaction-admin
	url = git@github.com:reactioncommerce/reaction-admin.git
	branch = trunk
[submodule "accelerated-text"]
	path = accelerated-text
	url = git@github.com:tokenmill/accelerated-text.git
